.button {
  cursor: pointer;
  border-radius: 12px;
  padding: 6px 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: var(--fade);
  border: 1px solid;
  background: transparent;
  color: var(--c-text);
}

.normal {
  @extend .button;
  background: var(--c-primary);
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;

}

.downloadButton {
  @extend .button;
  border: 1px solid var(--c-primary);
  background: transparent;
  font-size: var(--f-base);
  font-weight: var(--f-bold);
  padding: 8px 15px 8px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--c-primary);
  }

  a {
    margin-right: 10px;
  }

  &:global(.disable) {
    border-color: var(--c-dark-40);
    border-radius: 8px;
  }
}
