.Form {
  display: flex;
  flex-direction: column;
  padding: 0px;

  @media (--md) {
    padding: 10px 100px;
  }

  @media (--d) {
    padding: 50px 30px;
  }
  svg {
    cursor: pointer;
  }

  h3 {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  label {
    font-size: var(--f-base);
    font-weight: 500;
    margin-bottom: 8px;
  }

  input {
    padding: 15px 18px 15px 18px;
    background: transparent;
    border: 1px solid #151c27;
    border-radius: 8px;
    color: white;
    font-size: var(--f-sm);

    &:focus {
      border: 1px solid var(--c-primary);
      outline: 0;
      color: white;
    }

    &:global(.error) {
      border-color: var(--c-danger);

      &:focus {
        border-color: var(--c-danger);
        outline: 0;
        color: white;
      }
    }

    ::placeholder {
      color: #2b2c2e;
      opacity: 1;
    }

    :-ms-input-placeholder {
      color: #2b2c2e;
    }

    ::-ms-input-placeholder {
      color: #2b2c2e;
    }
  }

  span {
    color: var(--c-danger);
    margin-top: 4px;
  }
}

.btn {
  font-weight: 700;
}

.error {
  h5 {
    color: var(--c-danger) !important;
    margin-bottom: 4px;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  
}


