@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a:hover {
  color: #bbbbbb !important;
}

.App {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color: #06070A;
}

.Hamburger {
  width: 52px;
  height: 52px;
  display: none;
  position: relative;
  box-sizing: border-box;
  transition: .25s ease-in-out;
}

.Hamburger-Line {
  width: 23px;
  height: 3px;
  pointer-events: none;
  border-radius: 5px;
  position: absolute;
  background-color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  transition: .25s ease-in-out;
}

.Hamburger.Hamburger-open {
  transform: rotate(180deg);
}

.Hamburger.Hamburger-open .Hamburger-Line:nth-of-type(1) {
  transform: translateX(-50%) rotate(-45deg);
  top: 27px;
}
.Hamburger.Hamburger-open .Hamburger-Line:nth-of-type(2) {
  opacity: 0;
}
.Hamburger.Hamburger-open .Hamburger-Line:nth-of-type(3) {
  transform: translateX(-50%) rotate(45deg);
  top: 27px;
}

.Hamburger-Line:nth-of-type(1) {
  top: 16px;
}

.Hamburger-Line:nth-of-type(2) {
  top: 24px;
}

.Hamburger-Line:nth-of-type(3) {
  top: 32px;
}

/* LEFT SIDE ********** */
.Left {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  justify-content: center;
  align-items: center;

  background-color: #000000;
  background-image: url('./images/bg-image.png');
  background-position: bottom;
  background-size:auto 100%;
  background-repeat: no-repeat;
  padding: 30px;
}

.Menu {
  margin: -20px 0 0 -20px;
  color: #61dafb;
  display: flex;
  width: 80%;
}

.Menu a {
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  padding: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

.Menu a.platform {
  display: none;
}

.Logo {
  /* As Parent */
  display: flex;
  align-items: center;

  /* Self */
  flex-grow: 1;
  align-self:center;
}

.Download {
  color: #61dafb;
  align-self:center;

}

a.platform {
  display: block;
  padding: 8px 38px 8px 24px;

  text-decoration: none;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;

  border: 1px solid #5707FF;
  box-sizing: border-box;
  border-radius: 8px;

  background-color: transparent;
  background-image: url(./images/download-icon.png);
  background-repeat: no-repeat;
  background-position: right 15px center;
}

a.platform:hover {
  background-color: #5707FF;
}

/* RIGHT SIDE ********** */
.Right {
  padding: 30px;
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
  background-color: #06070A;
}

/* RIGHT BOTTOM ********** */
.KeepInMind {
  /* As Parent */
  display: flex;
  flex-direction: column;
  align-items: left;

  /* Self */
  align-self: flex-end;
  width: 100%;
  height:96px;
  background-color: #0A0F17;
  padding:24px;
}

.KeepInMind h3 {
  color: #00FFD1;
  font-size: 14px;
  line-height: 22px;
  margin-bottom:8px;
}

.KeepInMind p {
  font-size: 12px;
  color: #8B93A2;
}

/* RIGHT TOP ********** */
.Form {
  /* Self */
  flex-grow: 1;
  margin-top: 96px;

  /* As Parent */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Welcome {
  /* Self */
  flex-grow: 1;
  margin-top: 96px;
  align-self: center;

  /* As Parent */
  display: flex;
  flex-direction: column;

  width: 400px;
  height: 592px;
}

.Welcome h3 {
  font-weight: 500;
  font-size: 16px;
  color: #00FFD1;
  margin-bottom:8px;
}

.Welcome h2 {
  font-weight: bold;
  font-size: 32px;
  color: #FFFFFF;
  padding: 0px !important;
  margin-bottom: 20px !important;
}

.Welcome p {
  font-size: 16px;
  color: #FFFFFF;
  padding: 0px !important;
  margin-bottom: 10px;
  /* margin: 0px !important; */
}

.Available {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 58px;
}

.Available p{
  color:#FFFFFF;
}

.ComingSoon {
  display: flex;
  flex-wrap: wrap;
}

.ComingSoon p{
  display: block;
  flex: 1 1 100%;
  margin-top: 32px;
}

.ComingSoon button {
  margin: 10px 10px 0px 0px;
  display: block;
  padding: 8px 38px 8px 24px;

  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;

  border: 1px solid #151C27;
  box-sizing: border-box;
  border-radius: 8px;

  background-color: transparent;
}

.SignupForm {
  /* Self */

  /* As Parent */
  display: flex;
  flex-direction: column;

  width: 400px;
  min-height: 592px;
}

.SignupForm h3 {
  font-weight: 500;
  font-size: 16px;
  color: #00FFD1;
  margin-bottom:8px;
}

.SignupForm h2 {
  font-weight: bold;
  font-size: 32px;
  color: #FFFFFF;
  padding: 0px !important;
  margin-bottom: 20px !important;
}

.SignupForm p {
  font-size: 16px;
  color: #FFFFFF;
  padding: 0px !important;
  margin-bottom: 10px;
  /* margin: 0px !important; */
}

.SignupForm label {
  display: flex;
  flex-direction: column;

  margin-top: 32px;
  margin-bottom: 0.5em;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.SignupForm input {
  display: flex;
  flex-direction: column;
  padding-left:18px;
  padding-right:18px;
  width: 100%;
  height: 48px;

  border: 1px solid #151C27;
  background-color: #06070A;
  box-sizing: border-box;
  border-radius: 8px;

  font-size: 12px;
  color:#FFFFFF;
}

.SignupForm input:focus {
  border: 1px solid #5707FF;
}

.SignupForm button {
  margin-top: 32px;
  width: 100%;
  height: 48px;
  cursor: pointer;
  border: none;
  opacity: 0.5;
  border-radius: 8px;
  background: #5707FF;
  color: #fefefe;
}
.SignupForm button:hover, .SignupForm button:active, .SignupForm button:focus {
  opacity: 1;
}

.SignupForm span.error, .error {
  color:#FF5151;
  font-size: 12px;
  display: relative;
}

.grecaptcha-badge {
  display: none !important;
}

.Price {
  flex-grow: 1;
  margin-top: 96px;
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
}

.Price h1{
  font-size: 48px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 48px;
}

.Price .Tables {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 0 0 40%;
  flex-direction: column;
  align-items: flex-start;
}

@media all and (min-width: 960px){
  .Price .Tables {
    flex-direction: row;
  }
}

.Price .Table {
  /* Self */
  flex: 0 0 calc(50% - 15px);
  height: 511px;
  box-sizing: border-box;
  border-radius: 16px;

  /* As Parent */
  display: flex;
  flex-direction: column;
  align-items: top;
  align-self:center;
}

.Price .Table.Pro {
  background: linear-gradient(29.54deg, #00FFD1, #5707FF);
  border: 2px solid transparent;
  background-repeat: no-repeat;
  background-origin: border-box;
  position: relative;
}

.Price .Free .Header-Wrapper h2 {
  font-size: 32px;
  font-weight: 700;
  color: #FFFFFF;
  margin:26px 0px 32px 32px;
}

.Price .Tda{
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #06070A;
  padding:16px;
}

.Price .Tdb{
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #0A0F17;
  padding:16px;
}

.Price .Pro .Header-Wrapper {
  background-color: #0A0F17;
  border-radius: 16px 16px 0 0;
  display: flex;
  justify-content: space-between;
}

.Price .Pro .Header-Wrapper h2 {
  font-size: 32px;
  font-weight: 700;
  margin:26px 0px 32px 32px;
  /* Fallback Color */
  color: #00FFD1;
  /* Gradient */
  background: linear-gradient(258.74deg, #FFF 0.38%, #FFF0 161.64%), #00FFD1;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}


.Price .Pro .Header-Wrapper h3 {
  margin:26px 32px 32px 32px;
  font-size: 32px;
  font-weight: 700;
  /* Fallback Color */
  color: #FFFFFF;
  display: inline-block;
}

.Price .Pro .Header-Wrapper h3 .Month{
  font-size: 16px;
  font-weight: 500;
}

.Price .Footer-Wrapper {
  background-color: #0A0F17;
  border-radius: 0 0 16px 16px;
  text-align: center;
}

.Price .Footer-Wrapper button {
  width: 216px;
  height: 52px;
  border:none;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background: #5707FF;
  border-radius: 12px;
  margin-bottom: 24px;
}

.Grow {
  flex-grow: 1;
}


@media only screen and (max-width: 960px) {
  .App {
   flex-direction: column;
  }
  .Left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: none;
    padding: 24px;
  }

  .Logo {
    position: relative;
    z-index: 200;
  }

  .Hamburger {
    display: block;
    z-index: 200;
  }

  .Price .Tables {
    /* Self */
    flex: 0 0 100%;
  }

  .Price .Tables .Table {
    /* Self */
    height: auto;
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 50px;
  }

  .Price .Tables .Table:last-of-type {
    margin-bottom: 0;
  }

  .Download {
    display: none;
  }

  .Menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 100%;
    background-color: #000000;
    padding: 170px 30px 30px 30px;
    margin: 0;
    text-align: center;
    transition: .25s ease-in-out;
    box-sizing: border-box;
    height: 100vh;
    z-index: 100;
  }

  .Menu-Open {
    transform: translateX(0);
  }

  .Menu a {
    display: block;
    font-size: 24px;
    margin-bottom: 30px;
  }

  .Menu a.platform {
    display: block;
    padding: 20px;
    box-sizing: border-box;
  }

  .Menu a:last-of-type {
    margin-bottom: 0;
  }

  .SignupForm, .Welcome {
    padding: 24px;
  }

  .Price {
    margin-top: 20px;
  }

  .Price h1 {
    font-size: 36px;
  }

  .SignupForm button {
    opacity: 1;
    margin-top: 22px;
  }

  .Logo img{
    height: 32px;
  }

  .Top h3 {
    font-size: 14px;
  }

  .Top h2 {
    font-size: 24px;
  }

  a.platform {
    width: 100%;
    text-align: center;
  }
}