@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.App {
  display: flex;
  min-height: 100vh;
  background-color: #06070A;
}

/* LEFT SIDE ********** */
.Left {
  flex: 0 1 50%;
  background-color: #000000;
  background-image: url(./images/bg-image.png);
  background-size: auto;
  padding: 48px;
}

.Menu {
  color: #61dafb;
  display: flex;
  justify-content: space-around;
  padding:0px 120px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.Menu a{
  color: #FFFFFF;
  text-decoration: none;
}

.Logo {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.Download {
  color: #61dafb;
  display: flex;
  justify-content: center;
}

.btn {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 38px 8px 24px;
  
  border: 1px solid #5707FF;
  box-sizing: border-box;
  border-radius: 8px;

  background-color: transparent;
  background-image: url(./images/download-icon.png);
  background-repeat: no-repeat;
  background-position: right 15px center;
};

/* RIGHT SIDE ********** */
.Right {
    flex: 0 1 50%;
    background-color: #06070A;
}