.App {
  display: flex;
  min-height: 100vh;
  background-color: #06070A;
}

.Left {
  flex: 0 1 50%;
  background-color: #000000;
  background-image: url(./images/bg-image.png);
  background-size: auto;
  padding: 48px;
}

.Menu {
  color: #61dafb;
  display: flex;
  justify-content: space-around;
  padding:0px 120px;
}

.Menu a{
  /* font-family: Inter; */
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.Right {
    flex: 0 1 50%;
    background-color: #06070A;
}

.Logo {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.Left-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Left-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
