.bgImage {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.dowloadSection {
  position: absolute;
  display: flex;
  align-self: center;
  width: 100%;
  bottom: 30px;
  align-items: center;
  justify-content: center;

  button {
    margin-right: 15px;
    margin-left: 15px;
  }
}

.leftSide {
  position: relative;
  display: none;
  flex-direction: column;
  width: 50%;
  height: 100vh;

  @media (--d) {
    display: flex;
  }
}
