name: Web

on:
  push:
    branches: [ stable ]
  pull_request:
    branches: [ stable ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    
    - name: Deploy ssh
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.REMOTE_HOST }}
        username: ${{ secrets.REMOTE_USER }}
        key: ${{ secrets.REMOTE_KEY }}
        script: |
          cd /opt/passwall-web
          git pull
          /usr/bin/yarn install
          /usr/bin/yarn build